/* inizio classi utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
    font-family: 'Shippori Antique B1', sans-serif;
    color: white;
   
}

.h-1 {
    height: 400px;
}
.h-100 {
    height: 100%;
}
.h-3 {
    height: 200px;
}

    /* inizio classi layout */

.flex {
    display: flex;
}

.fl-left {
    float: left;
}
.fl-right {
    float: right;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

    /* fine classi layout */

.b-rad {
    border-radius: 50%;
}
/* fine classi utility */

.big-container {
    height: 100vh;
    position: relative;
}

.container {
 height:calc(100vh - 100px);
 width: 100%;
 top: 0;
}

/* aside */
aside {
    background-color: black;
    width: 200px;
    height: 100%;
    padding: 10px 15px;
    color: grey;
}

aside > .flex {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-container {
    height: calc(100% - 90px);
    width: 100%;
    flex-grow: 1;
}
.sidebar-container .flex {
    flex-direction: column;
}

.logo img {
    height: 40px;

}
.logo-small {
    display: none;
}
.explore {
    margin-top: 15px;
}
.explore div {
    height: 40px;
    line-height: 40px;


}

.explore svg {
    height: 30px;
    width: 30px;
    fill: grey;
    vertical-align: middle;
}

.playlist {
    margin-top: 15px;
    overflow-y:auto ;
}

.playlist h3 {
    color: white;
    margin-bottom: 8px;
}

.new-playlist span {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: grey;
    color: black;
    margin-right: 5px;
}
.playlist div {
    margin: 10px 0;
}

.user-box {
    height: 90px;
}    

.user-box .app {
    height: 40px;
    line-height: 40px;
    border-bottom: grey 2px solid;
}
.user-box .app svg {
    width: 20px;
    height: 20x;
    fill: grey;
    vertical-align: middle;
    
    
}
.user-box .app span {
    font-size: 13px;
}

.user-box .user-profile {
    height: 50px;
    line-height: 50px;
}
.user-box .user-profile img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    background-color: grey;
    vertical-align: middle;
}
.user-box .user-profile span {
    color: white
}

/* / aside */





main {
    background-color: rgb(28, 31, 38);
    width: calc(100% - 200px);
    height: 100%;
    padding-top: 100px;
    color: white;
}
/* header */

header {
    background-color:rgba(0, 0, 0, 0.4);
    height: 100px;
    position: fixed;
    top: 0;
    width: calc(100% - 200px);
    z-index: 1001;
   
}

header > .flex {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.upgrade {
    font-size: 12px;
    border: white 2px solid;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 5px;
}
/* / header */
/* ------------------- */
/* article */

article {
   
    height: 100%;
}

/* nav */
article  nav {
    text-align: center;
    padding: 10px;  
}

article nav ul {
    list-style: none; 
}

article nav ul li {
    display: inline-block;
    font-size: 10px;
    font-weight: bolder;
    color: grey;
    padding: 0 7px;
}
/* / nav */

/* container playlist */

.playlist-container {
    overflow: scroll;
    padding: 10px;
    max-height: 100%;

}
.playlist-container h3 {
    
}
.playlist-container h4 {
    font-size: 12px;
    margin-top: 5px;
}
.playlist-container p {
    color: grey;
    font-size: 9px;
    margin: 4px 0;
}

.playlist-row {
    display: flex;
    margin: 15px 0;
    overflow-x: auto;
}
.album-box {
    height: 220px;
    width: 150px;
    text-align: center;
    margin-right: 10px;
    flex-shrink: 0;
}
.album-box img {
    width: 100%;
}
/* / container playlist */

/* fine article */

/* footer */

footer {
    background-color:rgb(40, 40, 40);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
footer > .flex {
    width: 100%;
    height: 100%;
}
.player-left,
.player-right {
    height: 100%;
    width: 200px;
    max-width: calc(100% / 3);
    padding: 5px;
}

.player-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-left img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.played-title {
    width: 90px;
}

.played-title div {
    font-size: 12px;
}
.played-title span {
    font-size: 10px;
    color: grey;  
}
.player-left i {
    color: grey;
}
.player-center {
    height: 100%;
    width: calc(100% - 400px);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* / footer */


/* ------------------------- */
/* mobile */

@media screen and (max-width: 575px) {

    main {
        width: calc(100% - 50px);
    }
    aside {
        width: 50px;
        padding: 10px 5px;
        text-align: center;
    }
    
    .logo-small {
        display: inline-block;
    }
    .logo-big {
        display: none;
    }
    .explore > div > span {
        display: none;
    }
    .playlist {
        display: none;
    }

    .user-box > div > span {
        display: none;
    } 
}

