/* classi utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
    font-family: 'Shippori Antique B1', sans-serif;
}

/* classi layout */
.flex {
    display: flex;
}

.fl-left {
    float: left;
}
.fl-right {
    float: right;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* classi layout */

.b-rad {
    border-radius: 50%;
}

.text-hover:hover {
    color:white;
    cursor: pointer;
    
}

/* / classi utility */
/* --------------------------------------------------- */

.big-container {
    height: 100vh;
}

.container {
    height: calc(100vh - 100px);
}

/* -- aside --------------- */

aside {
    background: black;
    width: 200px;
    height: 100%;
}

aside > .flex {
    height: 100%;
    flex-direction: column;
    color: grey;
}

/* logo box */
.logo-box {
    height: 220px;  
    padding: 10px;
}
.logo img {
    height: 40px;
    margin-bottom: 30px;
}
.logo-small {
    display: none;
}

.explore > div {
    padding-left: 10px;
    border-left:transparent 3px solid ;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}

.explore >  div:hover {
    border-left:yellowgreen 3px solid;
}

.explore > div:hover span {
    color: white;
    font-weight: bold;
}
.explore svg {
    height: 30px;
    width: 30px;
    fill: grey;
    vertical-align: middle;
}
/* / logo box */

/* playlist */
.playlist {
    padding-left: 10px;
    height: calc(100% - 220px - 80px); 
    /* 100% - logo-box - user-box */
    min-height: 150px;
    flex-grow: 1;
    overflow:hidden;
}
.playlist h3 {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}
.new-playlist span {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: grey;
    color: black;
    margin-right: 5px;
}

.all-playlist div {
    font-size: 13px;
    margin: 5px 0;
}
.all-playlist {
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    min-height: 100px;
    height: 80%;
    margin-top: 15px;
}
/* / playlist */

/* user-box */
.user-box {
    padding-left: 10px;
    height: 80px;
}
.user-box .app {
    height: 40px;
    line-height: 40px;
    border-bottom: grey 2px solid;
}
.user-box .app svg {
    width: 20px;
    height: 20x;
    fill: grey;
    vertical-align: middle;
    
    
}
.user-box .app span {
    font-size: 13px;
}

.user-box .user-profile {
    height: 50px;
    line-height: 50px;
}
.user-box .user-profile img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    background-color: grey;
    vertical-align: middle;
}
.user-box .user-profile span {
    color: white
}
/* / user-box */


/* -- / aside --------------- */


/* -- main ------------------ */


main {
    background-color: rgb(28, 31, 38);
    width: calc(100% - 200px);
    height: 100%;
    padding-top: 100px;
    color: white;
}

/* header */

header {
    background-color:rgba(0, 0, 0, 0.4);
    height: 100px;
    position: fixed;
    top: 0;
    width: calc(100% - 200px);
    z-index: 1001;
   
}

header > .flex {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.upgrade {
    font-size: 12px;
    border: white 2px solid;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 5px;
}
.upgrade:hover {
    font-size: 14px;
    padding: 20 100px;
    border-radius: 40px;
    margin: 5px;
    cursor: pointer;
}
/* / header */

/* article */

article {
    height: 100%;
}

/* nav */
article  nav {
    text-align: center;
    padding: 10px;  
}

article nav ul {
    list-style: none; 
}

article nav ul li {
    display: inline-block;
    font-size: 10px;
    font-weight: bolder;
    color: grey;
    padding: 0 7px;
    position: relative;
}

article nav ul li:hover::before{
    content: "";
    width: 30px;
    border-bottom: yellowgreen 3px solid;
    position: absolute;
    bottom: -6px;
   left: 50%;
   transform: translate(-50%,0);
}



/* / nav */

/* container playlist */

.playlist-container {
    overflow: scroll;
    padding: 10px;
    max-height: 100%;

}
.playlist-container h3 {
    
}
.playlist-container h4 {
    font-size: 12px;
    margin-top: 5px;
}
.playlist-container p {
    color: grey;
    font-size: 9px;
    margin: 4px 0;
}

.playlist-row {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    overflow-x: auto;
}
.album-box {
    height: 220px;
    width: 150px;
    text-align: center;
    margin-right: 10px;
    flex-shrink: 0;
}
.img-box {
    width: inherit;
    height: 150px;
    text-align: center;
    line-height: 150px;
    position: relative;


}
.album-box img {
    width: 100%;
    object-fit: contain;
    
}
.album-box:hover .img-box::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f144";
    color:white;
    font-size: 45px;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    cursor: pointer;

}
.album-box:hover .img-box-rad::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f144";
    color:white;
    font-size: 45px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    cursor: pointer;
}

/* / container playlist */

/* / article */

/* -- / main ---------------- */

/* -- footer ---------------- */

footer {
    background-color:rgb(40, 40, 40);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
}
footer > .flex {
    width: 100%;
    height: 100%;
}
.player-left,
.player-right {
    height: 100%;
    width: 200px;
    max-width: calc(100% / 3);
    padding: 10px;
}

/* player left */
.player-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-left img {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.played-title {
    width: 90px;
}

.played-title div {
    font-size: 12px;
}
.played-title span {
    font-size: 10px;
    color: grey;  
}
.player-left i {
    color: grey;
}
/* player left */

/* player center */
.player-center {
    height: 100%;
    width: calc(100% - 400px);
    
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.player-center .box-shrink {
    width: 80%;
    margin: 0 auto;
}
.music-control {
    width: 60%;
    max-width: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-control .play {
    font-size: 35px;
}
.music-bar {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.music-bar label {
    font-size: 10px;
}
.player-center input[type=range] {
    width: 80%;
    -webkit-appearance: none;
    margin-top: 15px;
    background: transparent;
  }
/* player center */

/* player right */
.player-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-right input {
    width: 100px;
}
/* player right */

.player-center input[type=range] {
    width: 80%px;
    -webkit-appearance: none;
    margin-top: 15px;
    background: transparent;
  }
  .player-right input[type=range] {
    width: 100px;
    -webkit-appearance: none;
    background: transparent;
  }
  
  input[type=range]:hover {
    outline: yellow;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #555555;
    border-radius: 3px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #555555;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #555555;
    border-radius: 3px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #2497E3;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: yellowgreen;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #555555;
    border: 0px solid #000000;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #2497E3;
    height: 16px;
    width: 16px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #555555;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #555555;
  }

/* -- / footer --------------- */

/* --------------------------- */
/* --------------------------- */
/* mobile */

@media screen and (max-width: 575px) {

    aside .flex {
        justify-content: space-between;
    }

    main {
        width: calc(100% - 50px);
    }
    main header {
        width: calc(100% - 50px);
    }
    aside {
        width: 50px;
        text-align: center;
    }
    
    .logo-small {
        display: block;
    }
    .logo-big {
        display: none;
    }
    .logo-box div {
        padding: 0;
    }
    .explore > div > span {
        display: none;
    }
    .playlist {
        display: none;
    }

    .user-box > div > span {
        display: none;
    } 
}